nav {
    height: 80px;
    background-color: black;
}

main > div:nth-child(odd) {
    background-color: turquoise;
}

.jumbo {
    height: 400px;
}

.portfolio {
    height: 550px;
}

.about {
    height: 350px;
}

.contact-form {
    height: 550px;
}

.upper-footer {
    height: 200px;
    background-color: grey;
}

.lower-footer {
    height: 90px;
    background-color: lightgrey;
}